{% extends 'base_layout.html' %}


{% block content %}
<section id="book_list">

  <div class="toolbar row">
    <div class="filter-options small-12 medium-9 columns">
      <a href="#" class="filter-item active" data-group="all">All Categories</a>
      <a href="#" class="filter-item" data-group="fastfood">Fast Food</a>
      <a href="#" class="filter-item" data-group="mexican">Mexican</a>
      <a href="#" class="filter-item" data-group="asian">Asian</a>
      <a href="#" class="filter-item" data-group="healthy">Healthy</a>
      <a href="#" class="filter-item" data-group="icecream">Ice Cream</a>
    </div>

    <div class="small-12 medium-3 columns">
      <select class="sort-options">
      <option value="" disabled selected>Sort by</option>
      <option value="" >Featured</option>
      <option value="title">Alphabetical</option>
      <option value="date-created">Published</option>
      </select>
    </div>
  </div>

  <div class="grid-shuffle">
    <ul id="grid" class="row">
      
      {% if restaurants %}
      {% for restaurant in restaurants %}

      <li class="book-item small-12 medium-6 columns" data-groups='["{{restaurant.category}}"]' data-date-created='1937' data-title='Of Mice and Men' data-color='#fcc278'>
        <div class="bk-img">
          <div class="bk-wrapper">
             <img src={{restaurant.pic.url}} alt={{restaurant.name}}>
          </div>
        </div>
        <div class="item-details">
          <h3 class="book-item_title">{{restaurant.name}}</h3>
          {% if restaurant.OpenClose == "Open" %}
          <p style="color: green;"><b>{{restaurant.OpenClose}}</b></p>
          {% else %}
          <p style="color: red;"><b>{{restaurant.OpenClose}}</b></p>
          <p>{{restaurant.OpensAt }}</p>
          
          {% endif %}
          
          {% if restaurant.OpenClose == "Open" %}
          <a href="{% url 'delivery:restaurant' restaurant.id %}" class="button " >Order Here!</a>
          {% endif %}

          
        </div>

        <div class="overlay-details" >
          <a href="#" class="close-overlay-btn">Close</a>
          <div class="overlay-image">
            <img src="http://interactivejoe.com/book-viewer/assets/images/bk_1-large.jpg" alt="Book Cover">
            <div class="back-color"></div>
          </div>
          <div class="overlay-desc activated">
            <h2 class="overlay_title">Of Mice and Men</h2>
            <p class="author">by John Steinbeck</p>
            <p class="published">1937</p>
            <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor mauris,
              non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
            <a href="#" class="button preview">Preview</a>
          </div>
          <div class="overlay-preview">
            <a href="#" class="back-preview-btn">Back</a>
            <h4 class="preview-title">Preview</h4>
            <div class="preview-content">
              <h5>Chapter 1</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.<br>&nbsp;<br>&nbsp;</p>
            </div>
          </div>
        </div>
      </li>

      {% endfor %}
    
      {% endif %}

    </ul>
  </div>

</section>
{% endblock %}