{% extends 'base_layout.html' %}

{% block content %}
<section id="book_list">

  <div class="toolbar row">
    <div class="filter-options small-12 medium-9 columns">
      <a href="#" class="filter-item active" data-group="all">All Categories</a>
      <a href="#" class="filter-item" data-group="fastfood">Fast Food</a>
      <a href="#" class="filter-item" data-group="mexican">Mexican</a>
      <a href="#" class="filter-item" data-group="asian">Asian</a>
      <a href="#" class="filter-item" data-group="healthy">Healthy</a>
      <a href="#" class="filter-item" data-group="icecream">Ice Cream</a>
    </div>

    <div class="small-12 medium-3 columns">
      <select class="sort-options">
      <option value="" disabled selected>Sort by</option>
      <option value="" >future functionality</option>
      <option value="">future functionality</option>
      <option value="">future functionality</option>
      </select>
    </div>
  </div>

  <div class="grid-shuffle">
    <ul id="grid" class="row">
      
      {% if restaurants %}
      {% for restaurant in restaurants %}

      <li class="book-item small-12 medium-6 columns" data-groups='["{{restaurant.category}}"]' data-date-created='1937' data-title='Of Mice and Men' data-color='#fcc278'>
        <div class="bk-img">
          <div class="bk-wrapper">
             <img src={{restaurant.pic.url}} alt={{restaurant.name}}>
          </div>
        </div>
        <div class="item-details">
          
          <h3 class="book-item_title">{{restaurant.name}}</h3>
          <p>estimated delivery time: </p>

          {% if restaurant.OpenClose == "Open" %}
          <p style="color: green;"><b>{{restaurant.OpenClose}}</b></p>
          {% else %}
          <p style="color: red;"><b>{{restaurant.OpenClose}}</b></p>
          <p>{{restaurant.OpensAt }}</p>
          
          {% endif %}
          
          {% if restaurant.OpenClose == "Open" %}
          <a href="{% url 'delivery:restaurant' restaurant.id %}" class="button " >Order Here!</a>
          {% endif %}

          
        </div>

      </li>

      {% endfor %}
    
      {% endif %}

    </ul>
  </div>

</section>
  <!-- Footer Content -->
  <footer id="footer" class="page-footer">
    <div class="row footer-wrapper">
      <div class="original-version small-12 columns"><a href="http://interactivejoe.com/book-viewer/" target="_blank"><em>DeliveryApp </em></a></div>
      <div class="copyright small-12 columns"> <a href="http://interactivejoe.com/"  target="_blank">by Javier Delcourt</a></div>
    </div>
  </footer>

</div>
<!-- /main -->



</body>
</html>
{% endblock %}